<div class="row">
    <div class="col-md-4" >
        <img src="{{moreDetails.avatar_url}} " alt="profile">
        <h2>name: {{moreDetails.name}} </h2>
        <h3>username: {{moreDetails.login}} </h3>
        <p>bio: {{moreDetails.bio}} </p>
        <p>email: {{moreDetails.email}} </p>
        <p>Repos: <a href="https://github.com/tori-bot?tab=repositories">{{moreDetails.public_repos}}</a>  </p>
        <p>forks: {{moreDetails.forks}} </p>
        <p>followers: {{moreDetails.followers}} </p>
        <p>following: {{moreDetails.following}} </p>

    </div>
</div>
