<div class="row">
    <div class="col-md-4" >
        <img src="{{moreDetails.avatar_url}} " alt="profile">
        </div>
        <div class="col-md-6" id="content">
            <h1>About Author</h1>
            <mat-card>
                <mat-card-title>name: {{moreDetails.name}}</mat-card-title>
                    <mat-card-subtitle>username: {{moreDetails.login}} </mat-card-subtitle>
                    <mat-card-content>
                        <p>bio: {{moreDetails.bio}} </p>
        
        <p>Repos: <a href="https://github.com/tori-bot?tab=repositories">{{moreDetails.public_repos}}</a>  </p>
       
        <p>followers: {{moreDetails.followers}} </p>
        <p>following: {{moreDetails.following}} </p></mat-card-content>
        <a href="https://github.com/tori-bot"><button id="git" mat-raised-button color="primary">On Github</button></a>

            </mat-card>

        </div>
        
    </div>

