img{
border: solid white 2px;
border-radius: 5px;
margin-top: 10vh;
margin-left: 3vw;
}

content{
    margin-left: 5vw;
}

mat-card{
    margin-top: 10vh;
    margin-left:7vw;
    text-align: center;
}
h1{
    margin:10vh 24vw;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium';
    font-stretch: expanded;
}

#git{
    margin-left: -2vw;
    margin-right: -3vw;}