#title{
    margin: 7vh 3vw;
    font-weight: 800;
    font-style: oblique;
    text-align: center;
}

h3{
    text-align: center;
}
.content{
    margin-left: 17vw;
    margin-top: 28vh;
}

img{
    width: 60vw;
    height: 100vh;
    
}

button{
    margin: 10vh 34vw;
}