<div class="row">
    <div class="col-md-5">
        <img src="https://images.unsplash.com/photo-1618401471353-b98afee0b2eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2l0aHVifGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="gh">
    </div>
    <div class="col-md-7">
        <h1 id="title">This is a Github Browser.</h1>
        <h3>You can find any github user and stalk them a little bit; appreciate their work.</h3>

        <!-- <app-search-form></app-search-form> -->
        <button>Get Started</button>

    </div>
</div>






