<!-- <app-search-form></app-search-form> -->

<form #form='ngForm' (submit)='getRepos()' >
    <mat-form-field id="form" appearance="fill">
      <mat-label>Search</mat-label>
      <input required matInput name="search" type="search" #search='ngModel' [(ngModel)]='user' />
    </mat-form-field><br>
    <button mat-raised-button color="primary"
    type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <div class="row">
      <div class="card col-md-4" *ngFor='let repo of repositories'>
          <mat-card>
            <mat-card-title>{{repo.name}}</mat-card-title>
            <mat-card-subtitle>{{repo.language}}</mat-card-subtitle>

              <mat-card-content>
                <p>{{repo.description}}</p> 
                  
                  <p>Forks: {{repo.forks}}</p>
                  <p>Created on: {{repo.created_at |createdAt}}</p>
                </mat-card-content>
          </mat-card>
              
                 
          
  </div>
         