mat-card{
   margin: 2vh 1vw;
   padding: auto; 

}
form{
  float: right;
    margin-right: 3vw;
    margin-bottom: 3vh;
}

button{
    margin-left: 5vw;
}

.content{
  width: 80%;
  margin-left: 10vw;
}
h1{
  font-size: 3em;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium';
    font-stretch: expanded;
  text-align: center;
  margin: 3vh;
}

