
<!-- <app-search-form></app-search-form> -->

<form #form='ngForm' (submit)='showUsers()' >
    <mat-form-field id="form" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput name="search" type="search" search='ngModel' [(ngModel)]='user' />
    </mat-form-field>
    <button mat-raised-button color="primary"
    type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <div class="row">
      <div class="col-md-4" *ngFor="let more of moreDetails" >
          <img src="{{more.avatar_url}} " alt="profile">
          <h2>name: {{more.name}} </h2>
          <h3>username: {{more.login}} </h3>
          <p>bio: {{more.bio}} </p>
          <p>email: {{more.email}} </p>
          <p>Repos: {{more.public_repos}} </p>
          <p>forks: {{more.forks}} </p>
          <p>followers: {{more.followers}} </p>
          <p>following: {{more.following}} </p>

      </div>
  </div>

  
