
<!-- <app-search-form></app-search-form> -->

<form #form='ngForm' (submit)='showUsers()' >
    <mat-form-field id="form" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput name="search" type="search" search='ngModel' [(ngModel)]='user' />
    </mat-form-field>
    <button mat-raised-button color="primary"
    type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <div class="row" [hidden]="searchResult">
      <div class="col-md-4"  >
          <img src="{{moreDetails.avatar_url}} " alt="profile">
          <h2>name: {{moreDetails.name}} </h2>
          <h3>username: {{moreDetails.login}} </h3>
          <p>bio: {{moreDetails.bio}} </p>
          <p>email: {{moreDetails.email}} </p>
          <p>Repos: {{moreDetails.public_repos}} </p>
          <p>forks: {{moreDetails.forks}} </p>
          <p>followers: {{moreDetails.followers}} </p>
          <p>following: {{moreDetails.following}} </p>

      </div>
  </div>

  
